
/* ----------------------------------Page accueil: index.php ---------------------------------------------------------------------*/
.espace {
  margin: 0 15px;        /* Pour créer de l'espace entre les éléments du menu "entete" partie nav */


}


.espacebouton{
  margin: 0 85px;
}


.smalltext{                       /* Pour réduire la taille du bouton "connexion" et "inscription" de l'entete" partie nav */
  font-size:x-small;
  color:#EE82EE;
}

.barrerecherche{               /* Pour fixer la barre de recherche sur la vidéo */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  font-size: 20px;
  font-weight: bold;
}





video{        /* La vidéo prend toute la largeur de la page */
  object-fit: fill;
}

.zoomimage img:hover{             /* Pour créer l'effet zoom sur les images "catégorie" de la page accueil */
 
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
  -webkit-transition:1s ease-in-out;
  transition:1s ease-in-out
  
}


.zoomimage img {             /* Pour fixer les dimensions (hauteur et largeur) de l'image zoomée */
 
  width: auto;
  max-height: 200px;
  
}

.zoomimage {                       /* Nous utilisons la propriété CSS 'position : relative;' pour nous assurer que l'image reste dans le cadre défini par son élément parent.  */
  

  position : relative;
  overflow : hidden;
  transition : 0.5s;

  }



.parallax{          /* Parallax entre mon image de fond et mes images catégories de plats */
  background-image:  url("Mesimages/imagedefondpagecommande2.jpeg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}

.plusvendu{
  font-size: smaller; /* POur réduire la taille du libellé des plats les plus vendus sur la page index.php */
}


/* -------------------------------------------MEDIA QUIERIES PAGE ACCUEIL -------------------------------------------------------------*/



@media (max-width: 480px) {
  
    #imagedefond {
        width: 100%;
        height: auto;
    }

}




/* Les logos réseaux sociaux en pieds de page */

.meslogosreso:hover {
    background-color: yellowgreen;        /* Les bordures sont rouges lors du survol avec la souris */
}


/* Début annimation CSS sur mes logos réseaux */
@keyframes slidein {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
  }
 .meslogosreso {

    animation: 3s slidein;
    animation-iteration-count: infinite;    /* L'animation tourne en boucle */
  }
  
  
  /* Début animation image de fond */
  .imagedefond{
   
    animation:
    4s linear 0s infinite alternate rise,
    4s linear 0s infinite alternate bounce;
  }
  @keyframes rise {
    from {
      transform: translateY(110vh);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes bounce {
    from {
      transform: translateX(-50vw);
    }
    to {
      transform: translateX(50vw);
    }
  }
   /* Fin animation image de fond */
/* -----------------------------------------FIN MEDIA QUIERIES PAGE ACCUEIL -------------------------------------------------------------*/




/*------------------------------------------PAGE PLATS.PHP -------------------------------------------------------- */

.tailletitreplat{
font-size:larger;
}


.tailledescriplat{
  font-size: smaller;
}

.tailletextcommand{
  font-size: small;
}

/*------------------------------------------PAGE CATEGORIE.PHP -------------------------------------------------------- */

.carousel-control-prev, .carousel-control-next {      /* Pour retirer les flèches de gauche et droite qui empêchent le clic des images */
  display: none;
}

.carousel-controls {             /* Pour centrer mes deux boutons: suivant et précédent  */
  text-align: center;
}

.h5couleurcat{            /* Pour donner un contour au texte du h5 */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}





/*------------------------------------------Page commande-------------------------------------------------------- */
span{
  color:red;
  font-size: smaller;
}
.inputcontact{                      /* Pour réduire la taille des éléments dans l'encadré */
  font-size: smaller;
}

.btnquantite{
  border-radius: 30px;
  font-weight: bold;
}
.btnselectcommande{                   /* Pour une mise en page du bouton quantité et select   */
  background-color: rgb(0, 81, 255);
  border-radius: 30px;
  border-color: aqua;
  text-align: center;
}

.bordure {                                /* Pour ajouter une bordure au formulaire commande et contact et les formulaires d'enregistrement et de connexion */
  border-top: 5px #252b29 double;
  border-right: 5px #252b29 double;
  border-bottom: 5px #252b29 double;
  border-left: 5px #252b29 double;
  border-radius: 15px;
}




/*------------------------------------------Page contact  -------------------------------------------------------- */
     

.parallax2{          /* Parallax entre mon image de fond et mes images catégories de plats */
  background-image:  url("Mesimages/imageparralax12.jpeg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}

.image-container {

  padding: 0;

  margin: 0;
  position: relative;
}


.parallax2 {

  margin-top: -100vh; /* Hauteur de la vidéo de fond */

  padding-top: 100vh; /* Hauteur de la vidéo de fond */

  background-attachment: fixed;

  background-size: cover;

  background-position: center;
  padding-bottom: 50px; /* Ajout d'un espace de 50px entre le formulaire et le footer */
}




/*------------------------------------------Mon foooter-------------------------------------------------------- */
.taille{
  font-size: 0.8em;     /* Pour réduire la taille de texte "politique de confidentialité" et "mentions légales" */

}

.monfooter{
padding: 20px;
clear: both;

}
/*------------------------------------------Mes formulaires d'inscription et de connexion ------------------------------------------------------- */
.monmain {
  flex: 0;  /* Supprimer la marge entre la vidéo et le début de mon formulaire */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.float-right {       /* Pour mettre le bouton connecter et s'inscrire à droite */
  float: right;
  margin-left: 10px;
}
